<!DOCTYPE html>
	<head>
		<title>Schema and Utterances</title>
		<style type="text/css">
			body { padding: 0; }
			div { border:1px solid black; padding:5px; font-family:monospace; }
			h3 { margin: 0; }
			code { white-space:pre; display: block; margin-bottom:20px; }
		</style>
	</head>
	<body>
		<div>
			<h3>Schema:</h3>
			<code><%=schema%></code>

			<h3>Utterances:</h3>
			<code><%=utterances%></code>
		</div>
	</body>
</html>